body{
    background-image: url(képek/abstract-background-abstrakt-hatterkep-2-2644744026.jpg);
}
.info{
    text-align: justify;

}
.hatter{
    background-color: skyblue;
    border-radius: 10px;
    border: darkslategray solid 2px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    margin: 10px 20% 10px 20%;
    padding: 10px;
}
#menu{
    text-align: justify;
}
a{
    text-decoration: none;
    color: blue;
}
ul{
  
}

#logo{
    size: 30px;
}
#xlogo{
    float: right;
    background-color: gray;
}
#telo1{
    background-color: white;
    height: 300px;
}
#telo2{
    background-color: white;
    height: 300px;
}

#store{
    margin-top: 10px;
}
#linkkep{
    float: right;
}